ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
  padding: 0;
}

.cntnr{
  padding: 30px;
}

.layout-list-item{
  margin: 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid grey;
  color: grey;
  display: block;
  margin-bottom: 10px;
}

.category{
  margin-bottom: 40px;
}

.seat-price{
  margin-left: 20px;
}

.seat-number{
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
  margin: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
}

.row-number{
  margin-right: 20px;
  display: inline-block;
}

.seat-row{
  display: flex;
  justify-content: space-between;
}

.seats-cntnr{
  display: inline-block;
  text-align: right;
}

.occupied{
  background: rgb(206, 198, 198);
  color: white;
  pointer-events: none;
}

.selected{
  background: green;
  color: white;
}

.seat-input{
  font-size: 20px;
  margin: 20px;
  width: 100px;
  padding: 10px;
}

.action{
  background: green;
  padding: 20px;
  text-align: center;
  color: white;
}

.disabled{
  opacity: 0.3;
  pointer-events: none;
}
